.hidden, .mobile {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: row;
}

.openlinks {
  margin: 10px 0;
}

a, .isFakeLink {
  color: #348185;
}

.isFakeLink {
  text-decoration: underline;
  cursor: pointer;
}

a:active,
.isFakeLink:active {
  color: #9b50be;
}

h1 {
  font-family: 'Bubblegum Sans', sans-serif;
  text-align: center;
  color: #252565;
}

.imageOrVideo {
  min-width: 50%;
}

.imageOrVideo img, 
.imageOrVideo iframe {
  width: 100%;
}

.apod {
  display: flex;
}

.explanation {
  padding: 0 20px;
}

.score, .finished, h2 {
  text-align: center;
  font-family: sans-serif;
}

.score, .finished {
  font-size: 14px;
}

h2 {
  font-size: 14px;
}

h1 {
  margin-bottom: 5px;
}

.score {
  margin: 20px 0 5px;
}

.finished {
  margin-bottom: 20px;
}

.question .completed,
.finished {
  color:#87d414;
  font-weight:bold;
}

.question:first-child {
  margin-top: 0;
}

.question {
  margin: 20px 0;
}

.quiz {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .mobile:not(.hidden) {
    display: block;
  }
  body {
    font-size: 14px;
  }
  .imageOrVideo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: black;
  }
  .imageOrVideo img,
  .imageOrVideo iframe {
    height: 100%;
    width: auto;
  }
  .header, .explanation, .quiz {
    z-index: 1;
    position: relative;
  }
  .header h1 {
    display: none;
  }
  .header h2 {
    padding: 5px;
  }
  div {
    color: white;
  }
  .header, .explanation, .quiz, .hide {
    background: rgba(100,100,100,0.6);
    border-radius: 30px;
  }
  .header, .explanation, .quiz, .hideContainer {
    transition: opacity 1s;
  }
  .explanation {
    padding-top: 5px;
  }
  .explanation > p {
    margin-top: 0;
  }
  .score {
    padding-top: 5px;
    margin-top: 10px;
  }
  .finished {
    margin-bottom: 1px;
    color: rgb(118, 255, 6);
  }
  .questions {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .questions button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: px solid white;
    background: none;
    border-radius: 20px;
    height: 60px;
    opacity: 80%;
    user-select: none;
  }
  .questions button:focus,
  .questions input:focus {
    outline: none;
  }
  .questions button:active,
  .hide:active {
    background: white;
    color: rgb(100,100,100);
  }
  .question {
    margin: 5px 10px;
  }
  .question input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    max-width: 248px;
  }
  .hideContainer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .hide {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
    text-align: center;
    padding: 2px;
  }
}