.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.openlinks {
  margin: 10px 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.openlinks:active {
  color: red;
}

h1 {
  font-family: 'Bubblegum Sans', sans-serif;
  text-align: center;
  color: #252565;
}

.imageOrVideo {
  min-width: 50%;
}

.imageOrVideo img, 
.imageOrVideo iframe {
  width: 100%;
}

.apod {
  display: flex;
}

.explanation {
  padding: 0 20px;
}

.score, .finished, h2 {
  text-align: center;
  font-family: sans-serif;
}

.score, .finished {
  font-size: 14px;
}

h2 {
  font-size: 14px;
}

h1 {
  margin-bottom: 5px;
}

.score {
  margin: 20px 0 5px;
}

.finished {
  margin-bottom: 20px;
}

.completed,
.finished {
  color:#87d414;
  font-weight:bold;
}

.question:first-child {
  margin-top: 0;
}

.question {
  margin: 20px 0;
}

@media (max-width: 800px) {
  .apod {
    flex-direction: column;    
  }

  .imageOrVideo img,
  .imageOrVideo iframe {
    width: 100%;
  }
}